body {
    background-color: rgb(103, 75, 176);
    content: '';
    background-image: url('/src/images/bg-desktop.svg');
    border-image-repeat: no-repeat;
    background-size: cover;
    max-width: 1480px ;
    width: 95vw;
}

.header {
    padding-top: 30px;
}

.header .logo {
    padding: 5%;
    margin: 30px;
}
.conteudo {
    display: flex;
    padding: 5%  ;
    margin: 30px;
    width: 100%;
    align-items: center;
    justify-content: center;
    height: 58vh;
}

.conteudo img {
    width: 90%;
    padding-right: 10%;
}

.conteudo .geral-2 {
    width: 100%;
    margin-bottom: 40px;
}

.geral-2 .painel-secundario .informativo .descricao .texto-direita h2 {
    color: white;
    font-weight: 700;
}
.geral-2 .painel-secundario .informativo .descricao .texto-direita p{
    color: white;
    padding: 10px 5px 40px 5px;
    /* padding-bottom: 40px; */
}
.geral-2 .painel-secundario .botao .button {
    padding-bottom:10px;
    border-radius: 2px solid white;
}
.geral-2 .painel-secundario .button {
    border-radius: 18px;
    padding: 20px;
    width: 50%;
    padding-top: 10px;
    background-color: white;
    color: teal;
}
.geral-2 .painel-secundario .button:hover {
    border-radius: 18px;
    border: solid 1px rgb(103, 75, 176);
    font-weight: 700;
    font-style: italic;
    background-color:hsl(300, 69%, 71%);
} 
.rodape {
    /* background-color: rgb(103, 75, 176); */
    position: relative;
}
.rodape .social {
    display:flex;
    justify-content: flex-end;
    color: white;
    width: 100%;
}

.rodape .social a {
    margin: 30px;
    padding-right: 10px 10px;
    border: 2px solid white;
    border-radius: 50% ;
    margin-top: 130px;
}

.rodape .social a i{
    display: flex;
    color: rgb(255, 255, 255);
    height: 50px;
    width: 60px;
    justify-content: center;
    align-items: center;
    font-size: 30px;   
}
.rodape .social a:hover {
    border: 2px solid hsl(300, 69%, 71%);;
}
.rodape .social a i:hover {
    font-weight: 700;
    color:hsl(300, 69%, 71%);
}